---
import BaseLayout from './BaseLayout.astro'

const { frontmatter } = Astro.props;
const {title, author, pubDate, description, image, tags} = frontmatter;
---
<BaseLayout pageTitle={title}>
    <p>Escrito por {author} el {pubDate.slice(0,10)}</p>
    <p><em>Descripción: {description}</em></p>
    <!-- <ul>
        {tags.map((tag: unknown) => <li>{tag}</li>)}
    </ul> -->
    <div class="tags">
        {tags.map((tag) => (
          <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>

    <img alt={image.alt} width="300" src={image.url}/>
    <slot />
    
    <style>
        img {
            background-color: black;
        }
        ul {
            display: flex;
            list-style-type: none;
            margin-top: 0;
            padding: 0;
        }
        li {
            margin-right: 1rem;
            font-weight: bold;
        }
        li:last-child {
            margin-right: 0;
        }

        a {
        color: #00539F;
        }
  
        .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 1em 0;
        }
    
        .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
        }
    </style>
</BaseLayout>
